{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block body %}
    <h1>Liste de sociétés</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Ville</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td>{{ societe.id }}</td>
                <td>{{ societe.nom }}</td>
                <td>{{ societe.description }}</td>
                <td>{{ societe.ville }}</td>
                <td>
                    {% for type in societe.type %}
                        <span> {{type}}</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('societe_show', {'id': societe.id}) }}">show</a>
                    <a href="{{ path('societe_edit', {'id': societe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
