{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.nomPrenom, 'Nom et Prenom') }}
    {{ form_widget(form.nomPrenom, {'attr': {'class': 'form-control', 'placeholder':'Entrer votre nom et prenom'}}) }}
</div>
<div class="mb-3">
    {{ form_label(form.nomPrenom, 'Sexe') }}
    {{ form_widget(form.sexe) }}
</div>
<div class="mb-3">
    {{ form_label(form.nomPrenom, 'Email') }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre email'}}) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Ajouter dirigeant') }}</button>
{{ form_end(form) }}


